%%%=============================================================================
%%%
%%%               |  o __   _|  _  __  |_   _       _ _   (TM)
%%%               |_ | | | (_| (/_ | | |_) (_| |_| | | |
%%%
%%% @author Sven Heyll <sven.heyll@lindenbaum.eu>
%%% @author Tobias Schlager <tobias.schlager@lindenbaum.eu>
%%% @author Timo Koepke <timo.koepke@lindenbaum.eu>
%%% @copyright (C) 2016, Lindenbaum GmbH
%%%
%%%=============================================================================

{relx,
 [
  {release,
   {chat, "1.0.0"},
   [
    %% Erlang/OTP
    kernel,
    stdlib,
    sasl,
    crypto,

    %% third-party
    cowboy,
    cowlib,
    jsx,
    lbm_kv,
    quickrand,
    ranch,
    uuid,

    %% project
    chat
   ]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}
 ]}.

{profiles,
 [
  {prod,
   [
    {relx,
     [
      {dev_mode, false},
      {include_erts, true}
     ]}
   ]}
 ]}.

{deps,
 [
  {cowboy, "1.0.4"},
  {jsx, "2.8.1"},
  {lbm_kv, "0.0.2"},
  {uuid, "1.5.4", {pkg, uuid_erl}}
 ]}.
